/* Nav bar styling */
/* homeNav */
#page-nav{
    height: 12vh;
}

.nav-item{
    height: 100%;
}

.logo-img{
    max-width: 30%;
    height: 80%;
    padding: 10px;
}

/* home page design */

.home-container{
    height: 100vh;
    overflow-y: hidden; /* Hide vertical scrollbar */
    overflow-x: hidden;
}

.page-design{
    background-image: url('../images/backgroundhome.jpg');
    filter:saturate(40%);
    height: 100vh;
    background-size: cover;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 30px;
    
}

.page-content{
    padding: 80px;
}

h2{
    color: honeydew;
}

.click-control{
    display: flex;
    justify-content: space-around;
}

.controls{
    text-decoration: underline;
    font-weight: bold;
    font-size: large;
    padding: 10px;
}

.card-div{
    border: 1px solid gray;
    border-radius: 5px;
    width: 300px;
    background-color: white;
    padding: 20px;
}

.form-card{
    padding: 10px;
}

.input-field{
    width: 85%;
    margin: 10px;
    padding: 5px;
    border-radius: 5px;
}

.login-signup{
    display: flex;
    padding: 20px;
    justify-content: space-between;
}


.save-details{
    background-color: #007bff;
    color: white;
    padding: 5px;
    border-radius: 3px;
}

/* adminpagestyle */

/* admin nav */

#admin-nav{
    height: 12vh;
    display: flex;
    justify-content: space-between;
    background-color: white;
    /* box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2) */
}
.admin-img {
    height: 100%;
    width: 30%;
}

.admin-page{
    padding: 0px 50px 0px 50px;
}

.admin-logout{
    margin: 20px;
}

.log-out{
    padding: 5px;
    background-color: rgb(212, 210, 210);
    color: black;
    font-weight: bold;
}


/* user page */

/* user nav */

#user-nav{
    height: 12vh;
    display: flex;
    justify-content: space-between;
    background-color: white;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2)
}
.user-img {
    height: 100%;
    width: 30%;
}

.user-page{
    padding: 0px 50px 0px 50px;
}

.user-funcs{
    display: flex;
}

.user-logout{
    margin: 20px;
}

.text{
    text-decoration: none;
}

.user-card-div{
    border: 1px solid gray;
    border-radius: 10px;
    width: 300px;
    background-color: white;
    padding: 20px;
    margin-left: 50px;
}

.input-field1{
    width: 85%;
    margin: 10px;
    padding: 20px;
    border-radius: 20px;
}

.check-pos{
    float: right;
}

.check-btn{
    border-radius: 40px;
    margin-top: 15px;
    padding: 10px 20px;
}

.quote-style{
    color: rgb(124, 123, 123);
    font-family: cursive;
    font-size: medium;
}